/* header {
    top: 39px !important;
} */

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides img {
    width: 100%;
    height: 768px;
    object-fit: cover;
}

/* Caption text */
.text {
    color: #f2f2f2;
    padding: 8px 25px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 50%;
    text-align: left;
    font-size: 45px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-slide {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

body.header-transparent header {
    background-color: #303540;
}

.tp-tab-title{
    color: rgb(15 23 42);
    font-weight: 700;
}
.tp-tab-date{
    color: rgb(15 23 42);
    font-weight: 400;
}

.bg-gradint{
    background: linear-gradient(90deg, rgba(255,255,255,0.80) 30%, rgba(255,255,255,0) 80%);width: 100%;height: 768px;position: absolute;
}
.logo-dt{
    display: flex !important;
}
.logo-mb{
    display: none !important;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 991px) {
    .text {
        top: unset;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .bg-gradint{
        background-color: rgb(255 255 255 / 57%);
    }
    .logo-dt{
        display: none !important;
    }
    .logo-mb{
        display: flex !important;
    }
}
/* @media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
} */